<div class="model">
    <label class="model-input">
        <span class="label-text">add a hexa3d model:</span>
        <input class="input" type="url" (change)="setHexa3dIframeUrl($event)">
    </label>

    <div *ngIf="iframeUrl" class="iframe-wrapper">
        <iframe
            class="iframe"
            [src]="iframeUrl"
            #iframe
        ></iframe>
    </div>

    <button *ngIf="image" (click)="downloadImage()" class="download-gif-button">
        <img class="gif" [src]="image" alt="hexa 3d model image">
        <span>download model gif</span>
    </button>
</div>


